html, body {
  background-color: ;
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  margin: auto;
}
.banner{
  background-color: #C3B077;
  text-align: CENTER;
  font-size: 300%;
  border: 5px solid rgb(0,0,0);
}